<b>Hello World</b>

{{#annotations}}
<div class="controls controls-row">
    <div class="span2">
        <!--<img src="https://mdl-alpha.un.hrz.tu-darmstadt.de/pluginfile.php/30/user/icon/tudarmstadt/f1?rev=9359" alt="Nutzerbild Support Moodle" title="Nutzerbild Support Moodle" class="userpicture" width="64" height="64">-->
        <img src="{{user_pic}}" class="userpicture"> <!--width="64" height="64">-->
    </div>
    <div class="span10">
        {{user}} - {{timeago}} <br />
        <strong>{{subject}}</strong> <br />
        {{content}}
    </div>
</div>
<br />
{{/annotations}}
    