<div id="annotations" data-region="annotation-list">
	<div id="annotationsloader" style="visibility: hidden; margin: auto; height: 0px; position: relative; left: 50%; transform: translateX(-50%); display: inline-block;">{{# pix}} i/loading, core, {{/pix}}</div>
	<h3>Annotationen</h3>
	{{#annotations}}
		{{> mod_videoannotations/annotation}}
	{{/annotations}}
</div>

