<div id="annotations" data-region="annotation-list">
	<div id="annotationsloader" style="visibility: hidden; margin: auto; height: 0px; position: relative; left: 50%; transform: translateX(-50%); display: inline-block;">{{# pix}} i/loading, core, {{/pix}}</div>
	<h3>{{numberOfAnnotations}} Annotationen</h3>
	{{#annotations}}
	<div class="well annotation">
		<div class="btn-group pull-right">
			<button class="btn">{{# pix}} i/feedback, core,
				Kommentieren{{/ pix}}</button>
			<button class="btn">{{# pix}} i/edit, core, {{# str }}edit{{/ str }}{{/
				pix}}</button>
			<button class="btn deleteAnnotationButton" annotationid={{id}}>{{# pix}} i/invalid, core, {{# str }}delete{{/ str }}{{/
				pix}}</button>
			<button class="btn">{{# pix}} i/info, core, Info{{/ pix}}</button>
		</div>
		<h5>{{author_firstname}} {{author_lastname}}:</h5>
		<h4>{{subject}}</h4>
		<p>{{{text}}}</p>
		<br /> {{#comments}}
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span11 well well-small">
				<div class="btn-group pull-right">
					<button class="btn">{{# pix}} t/message, core,
						Kommentieren{{/ pix}}</button>
					<button class="btn">{{# pix}} i/edit, core, Bearbeiten{{/
						pix}}</button>
					<button class="btn">{{# pix}} i/invalid, core, {{# str }} delete {{/ str }} {{/
						pix}}</button>
					<button class="btn">{{# pix}} i/info, core, Info{{/ pix}}</button>
				</div>
				<h6>{{author_firstname}} {{author_lastname}}:</h6>
				{{{text}}}
			</div>
		</div>
		{{/comments}}
	</div>
	{{/annotations}}
</div>

{{#js}}
    require(['mod_videoannotations/annotations'], function(a) {
        a.deleteAnnotationListener();
    });
{{/js}}