<div class="well" id="createannotationform">
	<h5>Anmerkung anlegen</h5>
	<fieldset>
		<input type="hidden" id="newannotation_modinstance" name="modinstance" value="{{videoannotations.id}}">
		<span class="span1">Subject:</span> 
		<span class="span10"> 
			<input id="newannotation_subject" name="subject" placeholder="Meine Frage/Anmerkung" />
		</span> 
		<br /> 
		<span class="span1">Text:</span> 
		<span class="span10">
			<textarea id="newannotation_text" name="text" cols="80" rows="7"></textarea>
		</span> 
		<!-- Is question? -->
		<br />
		<span class="span1">Ist das eine Frage?</span> 
		<span
			class="span10"> <input id="newannotation_isquestion" type="checkbox" name="isquestion"
			value="isquestion" checked />
		</span>
		<br />
		<button id="newannotationbutton" class="btn pull-right">{{# pix}} t/add, core,
			Anlegen{{/ pix}} Anlegen</button>
	</fieldset>
</div>

{{#js}}
    require(['mod_videoannotations/annotations'], function(a) {
        a.createNewAnnotation();
        a.deleteAnnotationListener();
    });
{{/js}}