<h1>{{details.name}}</h1>

<div class="videoannotations_page_view">
    {{> mod_videoannotations/video}}
    <br />
    {{> mod_videoannotations/annotation_list}}
    <br />
    {{> mod_videoannotations/new_annotation}}
</div>



